/* GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  overflow-wrap: break-word;
  hyphens: auto;
}

p {
  max-width: 60ch;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* SPECIFICS */
section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
  padding-inline: 5dvw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: 5dvw;
  gap: 0.5rem;
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

#email {
  padding: 0.2rem 0.7rem;
  flex: 1;
  border-radius: 5px;
  border: solid 1px rgb(202, 202, 202);
}

button {
  padding: 0.2rem 0.7rem;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
  }
}

.button {
  border: none;
  color: white;

  background-color: rgb(87, 56, 221);
}

.button2 {
  background-color: transparent;
  border: none;
}

.email-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.member-list {
  display: flex;
  flex-direction: column;dvw
  margin-block: 2rem;
  gap: 1rem;
}

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
  min-width: 50px;
  max-width: 7.5%;
}

.breakline {
  width: 100%;
  height: 1px;
  background-color: rgb(202, 202, 202);
}
